{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Présentation de l'hopital</h1>

    <p>bla bla</p>

    {% include '/_partial/login.html.twig' %}

{% endblock %}
