parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface\\:\\:getId\\(\\)\\.$#"
			count: 1
			path: src/Service/SoigneMoiApiService.php

		-
			message: "#^Cannot access property \\$detail on mixed\\.$#"
			count: 3
			path: src/Service/SoigneMoiApiService.php
