parameters:
	ignoreErrors:
		-
			message: "#^Cannot access property \\$detail on mixed\\.$#"
			count: 3
			path: src/Service/SoigneMoiApiService.php

		-
			message: "#^Cannot access property \\$title on mixed\\.$#"
			count: 2
			path: src/Service/SoigneMoiApiService.php
