parameters:
    level: 9
    paths:
        - src
    excludePaths:
        - src/Factory/*
        - src/DataFixtures/*
        - src/tests/*
        - phpstan-stubs.stub
    stubFiles:
        - phpstan-stubs.stub
includes:
    - phpstan-baseline.neon
