{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

<div class="row">
    <div class="col">
        <h1>A implémenter</h1>
    </div>
</div>
{% endblock %}
