div.container-fluid {
    max-width: 80rem;
}

footer a {
    color:#0248B1; /* plus foncé que la normale pour l'accessibilité dans le footer */
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}