{% extends 'base.html.twig' %}

{% block title %}Hopital SoigneMoi{% endblock %}

{% block body %}
    {# titre #}
    <div class="row">
        <div class="col text-center m-2">
            <h1>Présentation de l'hopital</h1>
        </div>
    </div>

    {# contenu #}
    <div class="row">
        <div class="col-lg-9">
            <h2>Présentation</h2>
            <p>Texte de présentation de l'hopital à implementer.</p>
        </div>
        <div class="col-lg-3 bg-info-subtle p-3">
            {{ include('/_partial/login.html.twig') }}
        </div>
    </div>

{% endblock %}
