{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="row">
        <h1>Identification</h1>
        <div class="col bg-info-subtle p-3">
            {% include '/_partial/login.html.twig' %}
        </div>
    </div>

{% endblock %}
