{% extends 'base.html.twig' %}

{% block title %}Avis Médical{% endblock %}

{% block body %}
<div class="row">
    <h2>Avis médical</h2>
    {{ form_start(form, {'action': path('app_doctor_patients_today_medical_opinion_submit')}) }}
    {{ form_rest(form) }}
</div>
{% endblock %}
