{% block menu %}
    <div class="dropdown">
        <button
                class="btn btn-outline-primary d-flex align-items-center p-2"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
        >
            {# @todo mettre d'autres icones#}
            {# @todo compléter les menus des docteurs, etc #}
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    width="16"
                    height="16"
                    class="mx-1"
            >
                <path d="M1 2.75A.75.75 0 0 1 1.75 2h12.5a.75.75 0 0 1 0 1.5H1.75A.75.75 0 0 1 1 2.75Zm0 5A.75.75 0 0 1 1.75 7h12.5a.75.75 0 0 1 0 1.5H1.75A.75.75 0 0 1 1 7.75ZM1.75 12h12.5a.75.75 0 0 1 0 1.5H1.75a.75.75 0 0 1 0-1.5Z"></path>
            </svg>
            Menu
        </button>

        <ul class="dropdown-menu">
        {% if app.user %}
            <li><span  class="dropdown-item" >{{ app.user.userIdentifier }}</span></li>
        {% endif %}

        <li><a class="dropdown-item" href="{{ path('app_home') }}">Accueil</a></li>

        {% block user_menu %}{% endblock %}

        {% if not app.user %}
            <li><a class="dropdown-item" href="{{ path('app_login') }}">Identification</a></li>
        {% else %}
            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% endif %}
    </ul>
    </div>
{% endblock %}
